streamlit==1.28.0
pandas==2.1.0
airportsdata==2023.4.0
geopy==2.3.0
folium==0.14.0
streamlit-folium==0.15.1
openpyxl==3.1.2
plotly==5.15.0
fuzzywuzzy==0.18.0
python-levenshtein==0.21.1
requests==2.31.0
